### 1. Write a python reads creates a dataframe from a URL that points to a CSV file such as the pronto data or CSVs in data.gov.

In [1]:
import pandas as pd

In [11]:
def python_reader(url,name):
    df = pd.read_csv(url, header = None, names = name )
    return df

names = ['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width', 'Class'] 
python_reader('http://mlr.cs.umass.edu/ml/machine-learning-databases/iris/iris.data',names)

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width           Class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [13]:
df = pd.read_csv('http://mlr.cs.umass.edu/ml/machine-learning-databases/iris/iris.data', header = None, names = names)

In [14]:
df.head(10)

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width        Class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

### 2. Create the function test_create_dataframe that takes as input: (a) a pandas DataFrame and (b) a list of column names. The function returns True if the following conditions hold:

1. The DataFrame contains only the columns that you specified as the second argument.
2. The values in each column have the same python type
3. There are at least 10 rows in the DataFrame.

In [47]:
def test_create_dataframe(df, colume_name):
    if colume_name in list(df.columns) and check_the_type(df,colume_name) and len(df.index) > 9:
            return True
    return False

def check_the_type(df,colume_name):
    if all (type(df[col]) == type(df[df.columns[0]]) for col in df.columns):
        return True 
    return False

In [16]:
names = ['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width', 'Class']

In [44]:
test_create_dataframe(df, names)

False

In [18]:
df1 = df.drop('Class',1)
df1.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [19]:
names1 = ['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width']

In [20]:
test_create_dataframe(df1, names1)

True